h1{
  font-family:Helvetica;
  font-size: 70px;
  font-weight:bold;
  color:white;
}
p{
  font-family:Helvetica;
  font-size: 14px;
}
a{
  font-family:Helvetica;
  font-size: 18px;
  color:white;
}
.top{
    background-image:url("../images/the-flatiron-building.png");
}
body{
  text-align:center;
}
h2{
  font-family:Helvetica;
  font-size: 32px;
  font-weight:bold;
}
h3{
  font-family:Helvetica;
  font-size: 23px;
  font-weight:bold;
}
div.design{
  font-family:Helvetica;
  font-size: 23px;
  font-weight:bold;
  color:white;
  background-image:url("../images/the-flatiron-building.png");
}
div.end{
  font-family:Helvetica;
  font-size: 11px;
  color:white;
  background-color:dimgray;
  text-align:left;
}
